body{
    color: #2c2c2c;
    font-size: 14px;
    font-family: montserrat,helvetica neue,Arial,sans-serif;
}

a{
    text-decoration: none !important;
    color: #378c3f;
}

p{
    line-height: 1.61em;
    margin-top: 0;
    margin-bottom: 1rem;
}
/* NAVBAR  */
.navbar.navbar-transparent{
    background-color: transparent !important;
    box-shadow: none;
    color: #fff;
    padding-top: 20px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 10px;
}

.navbar{
    padding-top: 0.625rem;
    box-shadow: 0 0 20px 0 rgb(0,0,0,0.15);
    padding-bottom: 0.625rem;
    min-height: 53px;
    margin-bottom: 20px;
}

.navbar a{
    vertical-align: middle;
    text-decoration: none;
    position: relative;
    color: #fff;
    text-transform: uppercase;
}

.navbar,
.nav-item .nav-link{
    transition: all 300ms ease 0s;
}

.profile-page{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 26px;
}

.navbar-brand{
    font-size: 16px;
}

.nav-link{
    font-size: 13px;
}

.bg-nav{
    background-color: #378c3f !important;
}

nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    transform: scaleX(0);
    transition: all 0.5s;
}

nav ul li a::before{
    top: 0;
    transform-origin: left;
}

nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scaleX(1);
}

nav ul li a:hover{
    color: rgba(255, 255, 255, 0.7) !important;
}

nav ul li a:visited{
    color: rgba(255, 255, 255, 1) !important;
}

.nav-item + .nav-item{
    margin-left: 16px;
}

/* HOME */
.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}

.home{
    background-image: url(/Assets/Images/hero-img.jpg);
    min-height: 77vh;
}

.content-center{
    color: #fff;
    max-width: 900px;
    margin: auto;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 85px;
}

.profile-image a{
    position: relative;
}

.profile-image img{
    position: relative;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    padding: 0;
    margin: 0;
    border: 15px solid transparent;
    z-index: 1000;
    transition: all 0.3s ease-out;
}

.home .container{
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.content-center h2{
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}

.category{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: -20px;
    margin-bottom: 16px;
}

.btn-success{
    background-color: #378c3f;
    color: #fff;
}

.home .container .btn{
    width: 140px;
}

.btn{
    border-width: 2px;
    font-weight: 400;
    font-size: .8571em;
    line-height: 1.35em;
    margin: 5px 1px;
    border: none;
    border-radius: 0.1875rem;
    padding: 10px 20px;
}

.btn.btn-success:hover{
    background-color: #51bb5c;
}

.profile-page .button-container{
    text-align: center;
    margin-top: -30px;
}

.button-container i{
    color: #fff;
}

.button-container a{
    background-color: #888;
    border-radius: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.button-container a:hover{
    background-color: rgba(136, 136, 136,0.8)
}

.button-container .btn-default{
    margin-right: 6px;
}

.btn-icon.btn-lg{
    height: 3.6rem;
    min-width: 3.6rem;
    width: 3.6rem;
}

.btn-icon{
    padding: 0;
    font-size: 0.9375rem;
    overflow: hidden;
    position: relative;
    line-height: normal;
}

.btn-round{
    border-width: 1px;
    border-radius: 30px !important;
}

/* ABOUT */
.card{
    padding: 8px 0;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.2);
    border-radius: 0.25rem;
}

section{
    padding: 70px 0;
    position: relative;
    background: #fff;
    padding-bottom: 0 !important;
}

.title{
    font-weight: 700;
    line-height: 26px;
}

h4{
    font-size: 1.714em;
    line-height: 1.45em;
    margin-bottom: 15px;
    margin-top: 30px;
}

.mt-0{
    margin-top: 0 !important;
}

.card .card-body{
    min-height: 190px;
}

strong{
    font-weight: bolder !important;
}

/* SKILLS */
#skills{
    margin-top: 25px;
}

.progress-container{
  margin-bottom: 20px;
  font-size: 18px;
  position: relative;
}

.progress-container.progress-primary .progress-value,
.progress-container.progress-primary .progress-badge{
  color: #378c3f;
}

.progress-container .progress-badge {
  font-size: .8571em;
  text-transform: uppercase;
}

.progress-container.progress-primary .progress{
  background: rgba(55,140,63,0.4);
  height: 5px;
  font-size: 18px;
  border-radius: 0;
  box-shadow: none;
  margin-top: 14px;
}

.progress-container .progress .progress-value{
    position: absolute;
    top: 2px;
    right:0;
    font-size: 0.85em;
}

.progress-container.progress-primary .progress-bar{
    background: #378c3f;
    box-shadow: none;
}

/* PORTFOLIO */
#portfolio{
    margin-top: 25px;
}

.nav-align-center{
    text-align: center;
}

.nav-align-center .nav-pills{
    display: inline-flex;
}

.ml-auto{
    margin-left: auto!important;
}

.mr-auto{
    margin-right: auto!important;
}

.nav-pills.nav-pills-primary .nav-item .nav-link.active,
.nav-pills.nav-pills-primary .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-primary .nav-item .nav-link.active:hover{
    background-color: #378c3f;
}

.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .nav-link.active:focus,
.nav-pills .nav-item .nav-link.active:hover{
    background-color: #9a9a9a;
    color: #fff;
    box-shadow: 0 5px 35px 0 rgb(0, 0, 0, 0.3);
}

.nav-pills .nav-item .nav-link {
    padding: 0 15.5px;
    text-align: center;
    height: 60px;
    width: 60px;
    font-weight: 400;
    color: #9a9a9a;
    margin-right: 19px;
    background-color: rgba(222,222,222,0.3);
    border-radius: 30px;
}

.nav-pills .nav-link,
.nav-item .nav-link,
.navbar,
.nav-tabs .nav-link {
    transition: all 300ms ease 0s;
}

.nav-pills .nav-item .nav-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.portfolio-image{
    text-align: center;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 6px 30px rgba(0,0,0,0.2);
}

.portfolio-image .effect{
    position: relative;
    overflow: hidden;
}

.portfolio-image figcaption{
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease;
    opacity: 0;
}

.portfolio-image .content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    opacity: 0;
    color: #fff;
}

.portfolio-image:hover figcaption{
    opacity: 1;
    top: 0;
}

.portfolio-image:hover .content{
    opacity: 1;
    top: 50%;
}

/* EXPERIENCE */
#experience{
    margin-top: 25px;
}

.work-experience .work-experience-header{
    padding-top: 60px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background-color: #378c3f;
    border-radius: 0.25rem;
}

h5{
    font-size: 1.57em;
    line-height: 1.4em;
    margin-bottom: 15px;
}

.work-experience .card{
    padding: 0;
    margin-bottom: 20px;
}

.education .education-header{
    padding-top: 50px;
    text-align: center;
    color: #fff;
    background-color: #378c3f;
    border-radius: 0.25rem;
}

.education .card{
    padding: 0;
    margin-bottom: 20px;
}

.education h5{
    margin-bottom: 0px !important;
}

.education .category{
    text-transform: uppercase;
    font-weight: 700;
    color: #9A9A9A;
    margin-bottom: 5px !important;
    margin-top: -5px !important;
}

.education p{
    margin-bottom: 5px;
    margin-top: 15px;
}

/* REFERENCES */
#reference img{
    height: 120px;
    width: auto;
    max-width: 100%;
}

#reference .card{
    padding: 40px;
    padding-bottom: 20px;
}

#reference .category{
    text-transform: uppercase;
    font-weight: 700;
    color: #9A9A9A;
    margin-top: -15px;
}

.img-center {
    margin: 0 auto;
}

.owl-dot.active span{
    background-color: #378c3f !important;
}

.owl-dot span{
    margin-top: -25px !important;
}