/* body */

body{
    color: #2c2c2c;
    font-size: 14px;
    font-family: montserrat,helvetica neue,Arial,sans-serif !important;
}

html{
    /* overflow: hidden; */
}

/* section */
.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}

.end{
    text-align: center;
    margin: 50px 0;
    position: relative;
    overflow-x: hidden;
}

.display{
    text-align: center;
    font-size: 80px;
    overflow: hidden;
}

/* image */

.image2{
    text-align: center;
    margin-top: 30px;
    
}

.image>img{
    width: 100%;
    max-height: 490px;
}

.profile img{
    width: 100%;
    height: 200px;
}


/* navbar  */
.bg-success{
    background-color: #378c3f !important;
}

.navbar-nav{
    margin-right: 30px;
}

.nav-item + .nav-item{
    margin-left: 30px;
}

.nav-item,
.navbar-brand{
    color: #ffffff !important;
    display: flex;
    align-items: center;
}

.nav-link{
    color: #ffffff !important;
    border-radius: 8px;
}

.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar-brand{
    font-size: 30px;
    color: white !important;
}

.nav-item{
    font-size: 17px;
}

.nav-link{
    color: white;
}


/* button */

.btn.btn-warning{
    width: 365px;
    margin-top: 30px;
    border-radius: 8px;
}

.btn.btn-danger{
    border-radius: 8px;
    
}

.btn.btn-info{
    border-radius: 8px;
}

.btn.btn-secondary{
    margin-top: 30px;
    border-radius: 8px;
}

.btn.btn-success{
    width: 300px;
    height: 75px;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

.btn-add{
    margin-top: 40px;
    margin-left: 0px;
    border-radius: 8px;
}

.btn-menu{
    background-color: #378c3f;
    margin-left: 20px;
}

#btn-logout:hover {
    background-color: rgba(255, 165, 0, 0.82);
    color: black !important;
    border: none;
}

#btn-logout{
    width: 150px;
    color: #ffffff !important;
    padding: 6px 12px;
    border: none;
    font-size: 19px;
    background-color: orange;
}

.add-member{
    margin-bottom: 30px;
}



/* table */
.table th,
.table td{
    border: 0.5px solid black;
}

.table{
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  text-align: center;
}

.top-table{
    background-color:aquamarine;
    font-size: 25px;
}

/* Fotter */

footer{
    background-color: slategray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.footer-icon{
    font-size: 35px;
}

.footer-icon a{
    color: black;
    text-decoration: none;
}

/* Logo */

.logo{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    width: 100%;
    padding-top: 15px;
    margin-bottom: 30px;
}

 
.card{
    margin-top: 30px;
}

.col-2{
    width: 50%;
    height: 50%;
}

.card-title{
    text-align: center;
    font-size: 30px;
    color: red;
    overflow:visible;
}

/* icon */

.ti-menu{
    font-size: 30px;
}

.facebook:hover{
    color: #3b5998;
}

.twitter:hover{
    color: #1da1f2;
}

.youtube:hover{
    color: #dd4b39;
}

/* Modal */
.modal-header{
    font-size: 30px;
    color:orangered;
}

.text-body{
    text-align: center;
    font-size: 20px;
}

.mb-3{
    text-align: left;
}

@media screen and (max-width: 992px){
    .nav-item{
        margin-top: 20px;
    }
    .nav-item + .nav-item{
        margin-left: 0px;
    }
}