.image__2{
    text-align: center;
    margin-top: 30px;
    
}

.display{
    text-align: center;
    font-size: 100px;
}

.end{
    text-align: center;
    margin-top: 50px;
}

.logo{
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
    background-color: slategray;
    height: 130px;
    width: 100%;
    padding-top: 15px;
}