.modal-header{
    font-size: 30px;
    color:orangered;
}

.d-flex{
    margin-top: 25px;
}

.text-body{
    text-align: center;
    font-size: 20px;
}

.mb-3{
    text-align: left;
}

.col-md-10{
    padding-left: 350px;
    
}





