.navbar.navbar-expand-lg{
    background-color: #378c3f;
}
.dropdown-item{
    background-color: lightblue;
}

.offcanvas{
    background-color: cyan;
}

*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.top{
    padding-left: 50px;
    font-size: 60px;
    color: orange;
}

.add{
    color: orange;
    font-size: 70px;
    
}

.navbar-brand{
    font-size: 25px;
    color: white;
}

.nav-item{
    font-size: 25px;
}

.nav-link{
    color: white;
}

.container-fluid{
    margin-left: 10px;
}

.btn.btn-warning{
    width: 365px;
    margin-top: 30px;
    border-radius: 8px;
}

.btn.btn-danger{
    border-radius: 8px;
    
}

.offcanvas-title{
    font-size: 50px;
}

.offcanvas-body{
    font-size: 30px;
}

.table{
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  text-align: center;
}

.top__table{
    background-color:aquamarine;
    font-size: 25px;
}
.btn.btn-info{
    border-radius: 8px;
    
}

.btn.btn-secondary{
    margin-top: 30px;
    border-radius: 8px;
}

.d-flex{
    margin-left: 800px;
    margin-right: 800px;
}

.logo{
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
    background-color: slategray;
    height: 130px;
    width: 100%;
    padding-top: 15px;
}

.btn.btn-success{
    width: 300px;
    height: 75px;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

.offcanvas-text{
    font-size: 30px;
    margin-top: 30px;
    
}
.card{
    margin-top: 30px;
    
}

.col-2{
    width: 50%;
    height: 50%;
}

.card-title{
    text-align: center;
    font-size: 35px;
    color: red;
}


