col.l-2.m-3{
    background-color: lightblue;
    text-align: center;
    color: red;
    padding-bottom: 785px;
}

.dropdown-item{
    background-color: lightblue;
}

.offcanvas{
    background-color: cyan;
}

*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.top{
    padding-left: 50px;
    font-size: 60px;
}

.add{
    color: orange;
    font-size: 70px;
}

.navbar-brand{
    font-size: 25px;
}

.nav-item{
    font-size: 25px;
}

.container-fluid{
    margin-left: 10px;
}

.btn.btn-warning{
    width: 365px;
    margin-top: 30px;
}

